#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 10px 0;
}
.box {
  background-color: antiquewhite;
  padding: 20px;
  width: 300px;
}