body {
  cursor: none;
}

* {
  cursor: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 10px 0;
}

.box {
  background-color: antiquewhite;
  padding: 20px;
  width: 300px;
}

#cursor,
#cursor__shadow {

}

.cursor__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  transform: translate(-50%,  -50%);
}